<footer class="ftco-footer ftco-section" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-9 mx-auto">
                <div class="row mb-5">
                    <div class="col-md mt-5">
                        <img src="assets/images/logo_white.png" style="height: 30px;">
                        <p class="text-white">TVA BE 0715 856 139</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a
                                    href="https://www.facebook.com/hairport.BeautyisEverywhere"><span
                                        class="icon-facebook"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-md text-white mt-5">
                        <div class="ftco-footer-widget">
                            <h2 class="ftco-heading-2">Have a Question?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon icon-map-marker"></span><span class="text"> 6 Val des Bécasses
                                            1150 Woluwe-Saint-Pierre</span></li>
                                    <!--<li><a href="#"><span class="icon icon-phone"></span><span class="text">00000</span></a>
								</li>-->
                                    <li><a href="mailto:bernard@thehairport.eu"><span
                                                class="icon icon-envelope"></span><span
                                                class="text">bernard@thehairport.eu</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>