<footer class="ftco-footer ftco-section" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-9 mx-auto">
                <div class="row mb-5">
                    <div class="text-center text-white col-md mt-5">
                        <img src="assets/images/logo_white.png" style="height: 30px;">

                        <p class="mb-0 pb-0">TVA BE 0715 856 139</p>
                        <p class="mt-0 pt-0">Brussels, Belgium</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="https://www.facebook.com/hairport.BeautyisEverywhere">
                                    <span class="icon-facebook"></span></a></li>
                        </ul>
                    </div>

                    <!--<li><a href="#"><span class="icon icon-phone"></span><span class="text">00000</span></a>
								</li>-->

                </div>
            </div>
        </div>
    </div>
</footer>