<link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">

<footer class="ftco-footer ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-9 mx-auto">
                <div class="row mb-5">
                    <div class="text-center text-blacke col-md mt-5">
                        <img src="assets/images/black.png" style="height: 50px;">

                        <p class="mb-0 pb-0">TVA BE 0715 856 139</p>
                        <p class="mt-0 pt-0">Brussels, Belgium</p>
                    </div>

                    <!--<li><a href="#"><span class="icon icon-phone"></span><span class="text">00000</span></a>
								</li>-->

                </div>
            </div>
        </div>
    </div>
</footer>
