<section id="home-section" class="hero js-fullheight"
	style="background-image: url(assets/images/background.gif) !important; background-position: center top -110px;">
	<div class="container h-100">
		<div class="row h-100 v-100">
			<div class="col-12 my-auto mx-auto">
				<div class="mt-5 pt-5 text-center">
					<div class="mt-5 pt-4">
						<div class="mt-lg-5 pt-lg-5">
							<div class="mt-5 pt-5">
								<h2 class="pt-5 pt-lg-5 mt-lg-5" style="font-weight: 600; color: #000000;">BOOK NOW</h2>
							</div>
							<a type="button" href="https://widget.treatwell.be/fr/salon/394791/menu/"
								class="btn btn-dark mr-2 mt-2 col-6 col-md-4 col-lg-2" style="background-color: black;">Médiacité
								Liège</a>
							<a type="button" href="https://widget.treatwell.be/fr/salon/403641/menu/"
								class="btn btn-dark mr-2 mt-2 col-6 col-md-4 col-lg-2" style="background-color: black;">Cora Châtelineau</a>
							<a type="button" href="https://widget.treatwell.be/fr/salon/403325/menu/"
								class="btn btn-dark mr-2 mt-2 col-6 col-md-4 col-lg-2" style="background-color: black;">Docks Bruxsel</a>
						</div>
					</div>
					<div class="mx-auto pt-5">
						<h4 style="color: black; font-style: italic;">New website coming soon</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>