<link href="https://fonts.googleapis.com/css2?family=Spinnaker&display=swap" rel="stylesheet">

<nav class="fixed-top bg-light navbar-light mb-5">
    <div class="container">
        <a class="navbar-brand brand mx-auto" href="index.html">
            <img src="assets/images/Hairport.png" style="height: 73px;">
        </a>
    </div>
    <div class="container pt-4 mt-4">
        <div class="row">
            <h3 class="mx-auto" style="font-size: 18px !important;">
            </h3>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg text-black pt-0 mt-0">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#whatWeDo" class="nav-link">What we do</a></li>
                <li class="nav-item"><a href="#whereWeAre" class="nav-link">Where we are</a></li>
                <li class="nav-item"><a href="#whereWeAre" class="nav-link">Book now</a></li>
                <li class="nav-item"><a href="#gallery" class="nav-link">Gallery</a></li>
                <li class="nav-item"><a href="#corporate" class="nav-link">Corporate</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="https://www.facebook.com/byhairport1/" class="nav-link"><span class="icon-facebook" style="color: black;"></span></a></li>
                <li class="nav-item"><a href="https://www.instagram.com/byhairport/" class="nav-link"><span class="icon-instagram" style="color: black;"></span></a></li>
            </ul>
        </div>



    </nav>
</nav>
