.brand {
    position: center;
    left: 50;
    margin-left: 479px !important;  /* 50% of your logo width */
    margin-bottom: -59px;
    display: block;
}



p,a
{
    font-family: 'Spinnaker', sans-serif;
    line-height: 26.4px;
}
