.brand {
    position: center;
}



p,a
{
    font-family: 'Spinnaker', sans-serif;
    line-height: 26.4px;
}

/* ici ma tentative de bordure */
.topnav span {
  float: left;
  display: block;
  color: #1111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 3px solid;
}
