.brand {
    position: absolute;
    left: 50%;
    margin-left: -65px !important;  /* 50% of your logo width */
    display: block;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

}
