<section class="ftco-section ftco-no-pt ftco-booking" style="background-color: black;">
    <div class="container-fluid px-0">
        <div class="row no-gutters d-md-flex justify-content-end">
            <div class="one-forth d-flex align-items-end">
                <div class="text">
                    <div class="appointment-wrap">
                        <span class="subheading">Informations</span>
                        <h3 class="mb-2">Would you like more information concerning Hairport? Or do you consider
                            having a Hairport Mobile Beauty Salon at your place? </h3>
                        <form action="#" class="appointment-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="appointment_name"
                                            placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="appointment_email"
                                            placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">Hairport's module for your event</option>
                                                <option value="">Makeup</option>
                                                <option value="">Manicure</option>
                                                <option value="">Beard</option>
                                                <option value="">Hair</option>
                                                <option value="">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="phone" placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Make an Appointment" class="btn" style="background-color: black;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="one-third">
                <div class="img" style="background-image: url(assets/images/contact.jpg);">
                </div>
            </div>
        </div>
    </div>
</section>